$bad_color: #f00;
$good_color: #0f0;

@mixin input-placeholder($color) {
    ::-webkit-input-placeholder {
        color: $color;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
    }

    :-ms-input-placeholder {
        color: $color;
    }
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 50px 0 0 0;

    &.good {
        background-color: $good_color;
        @include input-placeholder($good_color - #888);

        #verdict.loading {
            background-image: url(../img/spinner_good.gif);
        }
    }

    &.bad {
        color: white;
        background-color: $bad_color;
        @include input-placeholder($bad_color + #888);

        #verdict.loading {
            background-image: url(../img/spinner_bad.gif);
        }

        #banner {
            background-image: url(../img/banner_invert.png);
        }
    }
}

a {
    color: inherit;
}

input {
    color: inherit;
    border: 0;
    background-color: transparent;
    outline: none;
    text-align: center;

    &#phone-number {
        font-size: 5em;
        width: 100%;
    }

    &.disabled {
        opacity: 0.53;
    }
}

#banner {
    height: 100px;
    background: url(../img/banner.png) no-repeat center;
    margin-bottom: 0.5em;
}

#explainer {
    margin-bottom: 0.5em;
}

#verdict {
    width: 160px; height: 160px;
    background: no-repeat center;
    margin: -164px auto 14px auto;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 5em;
    display: table;

    &.loading {
        background-image: url(../img/spinner_default.gif);
    }

    span {
        display: table-cell;
        vertical-align: middle;
        width: inherit;
    }
}

#report {
    margin-top: 1em;
}

span.input.error {
    display: block;
    margin-top: 0.5em;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 1em;
    font-size: 0.6em;
}
