<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Search multiple telemarketer databases at once for a quick yes-or-no verdict.">
    <title>istelemarketer: should you pick up the phone?</title>
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>

<body>
    <div id="banner"></div>
    <div id="explainer">Type a number, get an immediate answer.</div>
    <form id="check" method="post" action="{% url 'check' %}">{% csrf_token %}
        <input id="phone-number" type="text" name="phone-number" placeholder="(___) ___-____" autocomplete="off"/>
        <!--<input type="submit" value="test"/>-->
        <span class="input error"></span>
    </form>
    <canvas width="160" height="160" id="verdict-canvas"></canvas>
    <div id="verdict"><span> </span></div>
    <div id="report"></div>
    <footer>
        Created by <a href="http://harrisonliddiard.com/">Harrison Liddiard</a> with <a href="http://djangoproject.com/">Django</a>, <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a>, and <a href="https://github.com/digitalBush/jquery.maskedinput">Masked Input Plugin</a>. Source on <a href="https://github.com/liddiard/istelemarketer">GitHub</a>.
    </footer>
</body>

</html>
