body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  border: 0;
  padding: 0;
  margin: 50px 0 0 0; }
  body.good {
    background-color: lime; }
    body.good ::-webkit-input-placeholder {
      color: #007700; }
    body.good :-moz-placeholder {
      /* Firefox 18- */
      color: #007700; }
    body.good ::-moz-placeholder {
      /* Firefox 19+ */
      color: #007700; }
    body.good :-ms-input-placeholder {
      color: #007700; }
    body.good #verdict.loading {
      background-image: url(../img/spinner_good.gif); }
  body.bad {
    color: white;
    background-color: red; }
    body.bad ::-webkit-input-placeholder {
      color: #ff8888; }
    body.bad :-moz-placeholder {
      /* Firefox 18- */
      color: #ff8888; }
    body.bad ::-moz-placeholder {
      /* Firefox 19+ */
      color: #ff8888; }
    body.bad :-ms-input-placeholder {
      color: #ff8888; }
    body.bad #verdict.loading {
      background-image: url(../img/spinner_bad.gif); }
    body.bad #banner {
      background-image: url(../img/banner_invert.png); }

a {
  color: inherit; }

input {
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;
  text-align: center; }
  input#phone-number {
    font-size: 5em;
    width: 100%; }
  input.disabled {
    opacity: 0.53; }

#banner {
  height: 100px;
  background: url(../img/banner.png) no-repeat center;
  margin-bottom: 0.5em; }

#explainer {
  margin-bottom: 0.5em; }

#verdict {
  width: 160px;
  height: 160px;
  background: no-repeat center;
  margin: -164px auto 14px auto;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 5em;
  display: table; }
  #verdict.loading {
    background-image: url(../img/spinner_default.gif); }
  #verdict span {
    display: table-cell;
    vertical-align: middle;
    width: inherit; }

#report {
  margin-top: 1em; }

span.input.error {
  display: block;
  margin-top: 0.5em; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 1em;
  font-size: 0.6em; }
