body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}

body.bad {
    color: white;
    background-color: red;
}

body.bad ::-webkit-input-placeholder {
    color: rgba(255,255,255, 0.5);
}

body.bad :-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255, 0.5);
}

body.bad ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255,255,255, 0.5);
}

body.bad :-ms-input-placeholder {
    color: rgba(255,255,255, 0.5);
}

body.good {
    background-color: #0f0;
}

body.good ::-webkit-input-placeholder {
    color: rgba(0,0,0, 0.5);
}

body.good :-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0, 0.5);
}

body.good ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0,0,0, 0.5);
}

body.good :-ms-input-placeholder {
    color: rgba(0,0,0, 0.5);
}

a {
    color: inherit;
}

input {
    color: inherit;
    border: 0;
    background-color: transparent;
    outline: none;
    text-align: center;
}

    input#phone-number {
        font-size: 5em;
        width: 100%;
    }


footer {
    font-size: 0.6em;
    margin-top: 2em;
}
